@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kanit:wght@100;800;900&family=Poppins:wght@100;200;300;700;900&family=Quicksand:wght@300;400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&family=Sofia+Sans+Semi+Condensed:ital,wght@0,200;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


.main{
    height: 900px;
   background-image: url(../images/oswald-elsaboath-7EDZ1fxhgJQ-unsplash.jpg);
    background-position:center;
    background-size: cover;
    width: 100%;
}

.navbar{
    background-color: rgba(26, 32, 37, 0.834);
    height: 65px;
    display: flex;
   text-align: center;
   align-items: center;
}

.logo{
    padding-left: 50px;
    color: rgb(255, 255, 255);
    width: 100px;
    /* text-align: center; */
    font-size: 30px;
    font-weight: 200;
}

.nav{
    
    width: 100%;
        color: white;
        display: flex;
        justify-content: right;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    /* background-color: red; */
    width: 100px;
}

.nav ul li a:hover {
    color: rgb(255, 170, 0);
}


.check{
    background-color: rgba(0, 0, 0, 0.717);
    height:550px;
    width: 30%;
   margin: 0px auto;
   margin-top: 100px;
   /* align-items: center; */
   padding: 20px;
}

.topic1{
    color: rgb(255, 177, 21);
    padding-bottom: 10px;
    font-size: 25px;
    /* background-color: aqua; */
    text-align: center;
}

.room{
    font-size: 14px;
    font-weight: 400;
    /* background-color: aqua; */
    width: 100%;
    
}

.option{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.select-box{
    width: 250px; 
}

#select-box{
    width: 245px; 
}


.topic2{
    margin-top: 40px;
    color: rgb(255, 177, 21);
    padding-bottom: 10px;
    font-size: 25px;
    /* background-color: aqua; */
    text-align: center;
}

